<section id="about" class="container py-5 ">
    <div class="row">
        <figure class="col-12 col-md-6 order-2 order-md-1">
            <img class="img-fluid" src="assets/images/me.png" alt="">
        </figure>
        <div class="col-12 col-md-6 p-4 p-md-3 p-lg-5 order-1 order-md-2">
            <h2>Guido Abel Sanchez</h2>
            <p><b>Edad: </b>23 años</p>
            <p><b>Nacionalidad: </b>Argentina</p>
            <p class="d-block"><b>Certificaciones: </b></p>
            <div>
                <p>Diplomatura Professional Backend DeveloperDiplomatura Professional Backend Developer
                    Universidad Tecnológica Nacional BA</p>
                <p>JavaScript Algorithms and Data Structures</p>
                <p>Legacy Responsive Web Design</p>
                <p>Master en PHP, SQL, POO, MVC, Laravel, Symfony, WordPress-Udemy</p>
            </div>
            <div class="d-flex justify-content-end">
           <a href="#contact"> <button class="btn btn-primary">CONTACTAME</button></a>
        </div>
        </div>


    </div>
</section>