<header class="bg-dark sticky-top">
    <div class="container py-4 ">
        <div class="d-flex justify-content-between">
            <a href=""><img width="60px" src="assets/images/logo.png" alt=""></a>
            <nav class="nav fs-5 ">
                <a class="nav-link text-white-50" routerLink="home">
                  Inicio
                </a>
                <a class="nav-link text-white-50" routerLink="projects">
                    Proyectos realizados
                </a>
                <a class="nav-link text-white-50" routerLink="about">
                    Sobre mi
                </a>
                <a class="nav-link text-white-50 " routerLink="">
                    Contáctame
                </a>
            </nav>
        </div>
    </div>
</header>